[submodule "_vim/submodules/ack"]
	path = _vim/submodules/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "_vim/submodules/camelcasemotion"]
	path = _vim/submodules/camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
[submodule "_vim/submodules/command-t"]
	path = _vim/submodules/command-t
	url = https://github.com/vim-scripts/Command-T.git
[submodule "_vim/submodules/conque-shell"]
	path = _vim/submodules/conque-shell
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "_vim/submodules/fugitive"]
	path = _vim/submodules/fugitive
	url = https://github.com/vim-scripts/fugitive.vim.git
[submodule "_vim/submodules/Gundo"]
	path = _vim/submodules/Gundo
	url = https://github.com/vim-scripts/Gundo.git
[submodule "_vim/submodules/nerdcommenter"]
	path = _vim/submodules/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "_vim/submodules/nerdtree"]
	path = _vim/submodules/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "_vim/submodules/Pydiction"]
	path = _vim/submodules/Pydiction
	url = https://github.com/vim-scripts/Pydiction.git
[submodule "_vim/submodules/pydoc"]
	path = _vim/submodules/pydoc
	url = https://github.com/fs111/pydoc.vim
[submodule "_vim/submodules/pyflakes-vim"]
	path = _vim/submodules/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "_vim/submodules/pyflakes-vim/ftplugin/python/pyflakes"]
	path = _vim/submodules/pyflakes-vim/ftplugin/python/pyflakes
	url = https://github.com/kevinw/pyflakes.git
[submodule "_vim/submodules/rope-vim"]
	path = _vim/submodules/rope-vim
	url = https://github.com/klen/rope-vim.git
[submodule "_vim/submodules/snipmate"]
	path = _vim/submodules/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "_vim/submodules/supertab"]
	path = _vim/submodules/supertab
	url = https://github.com/vim-scripts/SuperTab-continued..git
[submodule "_vim/submodules/syntastic"]
	path = _vim/submodules/syntastic
	url = https://github.com/vim-scripts/Syntastic.git
[submodule "_vim/submodules/tasklist"]
	path = _vim/submodules/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "_vim/submodules/vim-git"]
	path = _vim/submodules/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "_vim/submodules/vim-surround"]
	path = _vim/submodules/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "_vim/submodules/vim-addon-mw-utils"]
	path = _vim/submodules/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "_vim/submodules/detectindent"]
	path = _vim/submodules/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule "_vim/submodules/tlib_vim"]
	path = _vim/submodules/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "_vim/submodules/jsflakes.vim"]
	path = _vim/submodules/jsflakes.vim
	url = https://github.com/vim-scripts/jsflakes.vim.git
[submodule "_vim/submodules/vim-rails"]
	path = _vim/submodules/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "j"]
	path = j
	url = https://github.com/rupa/j2.git
[submodule "_vim/submodules/puppet"]
	path = _vim/submodules/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "_vim/submodules/vim-ruby"]
	path = _vim/submodules/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "_vim/submodules/vim-thrift"]
	path = _vim/submodules/vim-thrift
	url = https://github.com/solarnz/thrift.vim.git
[submodule "_vim/submodules/vim-go"]
	path = _vim/submodules/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "_vim/submodules/vim-node"]
	path = _vim/submodules/vim-node
	url = https://github.com/moll/vim-node
[submodule "_vim/submodules/YouCompleteMe"]
	path = _vim/submodules/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
